In [1]:
import os
os.chdir('../..')

In [2]:
import numpy as np
import pandas as pd

import ctgan
from ctgan import CTGANSynthesizer

# For the Python notebook
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [3]:
dataset = 'Chicago'

In [4]:
df = pd.read_csv('../data/{}/data.csv'.format(dataset), index_col=False)

In [5]:
df.head()

,choice,travel_dow,trip_purpose,distance,hh_vehicles,hh_size,hh_bikes,hh_descr,hh_income,gender,age,license,education_level,work_status,departure_time
0,drive,7,HOME_OTHER,23.42579,2,2,0,2,6,1,66,1.0,6,FTE,9.333333
1,drive,7,OTHER,1.71259,2,2,0,2,6,1,66,1.0,6,FTE,12.083333
2,drive,7,HOME_OTHER,21.77887,2,2,0,2,6,1,66,1.0,6,FTE,15.500000
3,drive,7,SHOPPING,2.02603,2,2,0,2,6,1,66,1.0,6,FTE,17.500000
4,drive,7,SHOPPING,0.87691,2,2,0,2,6,1,66,1.0,6,FTE,18.250000

In [6]:
if dataset is 'Chicago':
    discrete_columns = [
        'choice',
        'travel_dow',
        'trip_purpose',
        'hh_vehicles',
        'hh_size',
        'hh_bikes',
        'hh_descr',
        'hh_income',
        'gender',
        'license',
        'education_level',
        'work_status'
    ]
elif dataset is 'LPMC':
    discrete_columns = [
        'travel_mode',
        'purpose',
        'fueltype',
        'faretype',
        'bus_scale',
        'survey_year',
        'travel_year',
        'travel_month',
        'travel_date',
        'day_of_week',
        'female',
        'driving_license',
        'car_ownership',
        'pt_n_interchanges',
        'cost_driving_con_charge'
    ]

In [7]:
output_folder = '../output/' + dataset + '/CTGAN/'

# Train

In [8]:
ctgan = CTGANSynthesizer(verbose=True, cuda=True, batch_size=500)

In [9]:
%%time
ctgan.fit(df, discrete_columns, epochs=100)

D:\Users\glede\anaconda3\envs\py37\lib\site-packages\sklearn\mixture\_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
D:\Users\glede\anaconda3\envs\py37\lib\site-packages\sklearn\mixture\_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
D:\Users\glede\anaconda3\envs\py37\lib\site-packages\sklearn\mixture\_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,

Epoch 1, Loss G:  0.5526,Loss D:  0.0204
Epoch 2, Loss G: -0.0106,Loss D: -0.0692
Epoch 3, Loss G: -0.5917,Loss D: -0.0900
Epoch 4, Loss G: -0.3591,Loss D: -0.3516
Epoch 5, Loss G: -0.2308,Loss D: -0.2345
Epoch 6, Loss G: -0.5952,Loss D: -0.0003
Epoch 7, Loss G: -0.7472,Loss D: -0.1152
Epoch 8, Loss G: -0.6972,Loss D:  0.1073
Epoch 9, Loss G: -0.9990,Loss D: -0.0179
Epoch 10, Loss G: -0.7202,Loss D: -0.1097
Epoch 11, Loss G: -0.6751,Loss D: -0.0178
Epoch 12, Loss G: -0.9037,Loss D:  0.2895
Epoch 13, Loss G: -0.9535,Loss D: -0.0736
Epoch 14, Loss G: -0.7755,Loss D: -0.1730
Epoch 15, Loss G: -1.0328,Loss D: -0.2023
Epoch 16, Loss G: -0.4434,Loss D: -0.1619
Epoch 17, Loss G: -0.7074,Loss D: -0.2639
Epoch 18, Loss G: -0.5967,Loss D:  0.0731
Epoch 19, Loss G: -0.8487,Loss D: -0.1473
Epoch 20, Loss G: -0.5579,Loss D: -0.2739
Epoch 21, Loss G: -1.0935,Loss D:  0.0261
Epoch 22, Loss G: -1.1299,Loss D:  0.0654
Epoch 23, Loss G: -1.0107,Loss D: -0.0386
Epoch 24, Loss G: -0.5251,Loss D:  0.1002
Epoch 25, Loss G: -0.5086,Loss D: -0.0907
Epoch 26, Loss G: -0.8079,Loss D: -0.3115
Epoch 27, Loss G: -0.9211,Loss D: -0.1567
Epoch 28, Loss G: -0.8940,Loss D:  0.1296
Epoch 29, Loss G: -1.1951,Loss D:  0.0135
Epoch 30, Loss G: -1.0440,Loss D:  0.2410
Epoch 31, Loss G: -1.3460,Loss D: -0.0985
Epoch 32, Loss G: -1.1700,Loss D: -0.1038
Epoch 33, Loss G: -0.9855,Loss D:  0.0829
Epoch 34, Loss G: -1.1044,Loss D: -0.2857
Epoch 35, Loss G: -1.0781,Loss D:  0.2211
Epoch 36, Loss G: -1.2318,Loss D: -0.0280
Epoch 37, Loss G: -0.9838,Loss D: -0.2072
Epoch 38, Loss G: -0.8448,Loss D: -0.3236
Epoch 39, Loss G: -1.2340,Loss D:  0.0110
Epoch 40, Loss G: -1.1533,Loss D: -0.0403
Epoch 41, Loss G: -1.0619,Loss D:  0.1494
Epoch 42, Loss G: -0.8857,Loss D: -0.0483
Epoch 43, Loss G: -1.0986,Loss D: -0.1845
Epoch 44, Loss G: -1.1228,Loss D: -0.1547
Epoch 45, Loss G: -1.1075,Loss D: -0.0116
Epoch 46, Loss G: -0.9753,Loss D: -0.0111
Epoch 47, Loss G: -1.1932,Loss D:  0.0061
Epoch 48, Loss G: -1.2281,Loss D:  0.1037
Epoch 49, Loss G: -1.0364,Loss D: -0.0541
Epoch 50, Loss G: -0.8663,Loss D: -0.1614
Epoch 51, Loss G: -0.7646,Loss D: -0.1425
Epoch 52, Loss G: -1.0923,Loss D: -0.1042
Epoch 53, Loss G: -1.3789,Loss D: -0.0783
Epoch 54, Loss G: -0.9843,Loss D: -0.1378
Epoch 55, Loss G: -0.8439,Loss D:  0.1164
Epoch 56, Loss G: -0.9756,Loss D:  0.0485
Epoch 57, Loss G: -0.6870,Loss D:  0.1418
Epoch 58, Loss G: -1.2137,Loss D: -0.0099
Epoch 59, Loss G: -0.8574,Loss D: -0.2724
Epoch 60, Loss G: -1.2934,Loss D:  0.1164
Epoch 61, Loss G: -1.2219,Loss D:  0.0274
Epoch 62, Loss G: -0.8509,Loss D: -0.0809
Epoch 63, Loss G: -0.9683,Loss D: -0.1729
Epoch 64, Loss G: -1.1554,Loss D: -0.1065
Epoch 65, Loss G: -0.6945,Loss D:  0.0595
Epoch 66, Loss G: -0.8855,Loss D: -0.1658
Epoch 67, Loss G: -0.9697,Loss D: -0.2275
Epoch 68, Loss G: -1.0099,Loss D:  0.0516
Epoch 69, Loss G: -1.3221,Loss D:  0.0070
Epoch 70, Loss G: -1.1009,Loss D: -0.0148
Epoch 71, Loss G: -1.1758,Loss D: -0.1738
Epoch 72, Loss G: -1.0105,Loss D:  0.1292
Epoch 73, Loss G: -0.5898,Loss D: -0.1989
Epoch 74, Loss G: -0.9384,Loss D: -0.0811
Epoch 75, Loss G: -0.9367,Loss D: -0.0761
Epoch 76, Loss G: -0.9282,Loss D: -0.0141
Epoch 77, Loss G: -0.9626,Loss D: -0.0494
Epoch 78, Loss G: -1.4720,Loss D: -0.0401
Epoch 79, Loss G: -1.2599,Loss D: -0.1622
Epoch 80, Loss G: -1.2024,Loss D: -0.0152
Epoch 81, Loss G: -1.4484,Loss D:  0.0565
Epoch 82, Loss G: -1.3275,Loss D: -0.0913
Epoch 83, Loss G: -1.1957,Loss D: -0.1003
Epoch 84, Loss G: -1.1179,Loss D:  0.0236
Epoch 85, Loss G: -0.8572,Loss D: -0.0687
Epoch 86, Loss G: -1.2280,Loss D: -0.2268
Epoch 87, Loss G: -1.2646,Loss D: -0.1746
Epoch 88, Loss G: -0.9132,Loss D: -0.0208
Epoch 89, Loss G: -0.4379,Loss D: -0.1084
Epoch 90, Loss G: -1.1348,Loss D:  0.0993
Epoch 91, Loss G: -0.5559,Loss D:  0.2191
Epoch 92, Loss G: -1.0497,Loss D: -0.0945
Epoch 93, Loss G: -1.2050,Loss D:  0.1518
Epoch 94, Loss G: -1.0220,Loss D: -0.0012
Epoch 95, Loss G: -1.4980,Loss D: -0.0731
Epoch 96, Loss G: -1.3480,Loss D: -0.0107
Epoch 97, Loss G: -1.3335,Loss D:  0.0649
Epoch 98, Loss G: -1.4001,Loss D:  0.0316
Epoch 99, Loss G: -0.8511,Loss D:  0.0217
Epoch 100, Loss G: -1.0766,Loss D:  0.1330
Wall time: 16min 48s

In [11]:
ctgan.save(output_folder + 'trained.pkl')