In [1]:
import os
os.chdir('../..')

In [6]:
import numpy as np
import pandas as pd

from ctgan import TVAESynthesizer

# For the Python notebook
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [3]:
dataset = 'Chicago'

In [4]:
df = pd.read_csv('../data/{}/data.csv'.format(dataset), index_col=False)

In [5]:
df.head()

,choice,travel_dow,trip_purpose,distance,hh_vehicles,hh_size,hh_bikes,hh_descr,hh_income,gender,age,license,education_level,work_status,departure_time
0,drive,7,HOME_OTHER,3.93477,2,3,3,detached,6,0,30,1,4,PTE,20.166667
1,drive,2,SHOPPING,0.31557,3,3,3,detached,7,0,54,1,5,FTE,17.500000
2,drive,2,SHOPPING,0.28349,1,1,0,detached,3,0,80,1,3,PTE,9.333333
3,drive,2,OTHER,0.69417,2,2,0,detached,5,1,42,1,5,FTE,13.783333
4,passenger,1,SHOPPING,4.30666,2,2,1,detached,4,0,32,0,3,Unemployed,11.566667

In [7]:
if dataset is 'Chicago':
    discrete_columns = [
        'choice',
        'travel_dow',
        'trip_purpose',
        'hh_vehicles',
        'hh_size',
        'hh_bikes',
        'hh_descr',
        'hh_income',
        'gender',
        'license',
        'education_level',
        'work_status'
    ]
elif dataset is 'LPMC':
    discrete_columns = [
        'travel_mode',
        'purpose',
        'fueltype',
        'faretype',
        'bus_scale',
        'survey_year',
        'travel_year',
        'travel_month',
        'travel_date',
        'day_of_week',
        'female',
        'driving_license',
        'car_ownership',
        'pt_n_interchanges',
        'cost_driving_con_charge'
    ]

In [8]:
output_folder = '../output/' + dataset + '/TVAE/'

In [10]:
tvae = TVAESynthesizer(cuda=True, batch_size=500, epochs=1000)

In [12]:
%%time
tvae.fit(df, discrete_columns)

D:\Users\glede\anaconda3\envs\py37\lib\site-packages\sklearn\mixture\_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
D:\Users\glede\anaconda3\envs\py37\lib\site-packages\sklearn\mixture\_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
D:\Users\glede\anaconda3\envs\py37\lib\site-packages\sklearn\mixture\_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)

Training epoch 1/1000...
Training epoch 2/1000...
Training epoch 3/1000...
Training epoch 4/1000...
Training epoch 5/1000...
Training epoch 6/1000...
Training epoch 7/1000...
Training epoch 8/1000...
Training epoch 9/1000...
Training epoch 10/1000...
Training epoch 11/1000...
Training epoch 12/1000...
Training epoch 13/1000...
Training epoch 14/1000...
Training epoch 15/1000...
Training epoch 16/1000...
Training epoch 17/1000...
Training epoch 18/1000...
Training epoch 19/1000...

KeyboardInterrupt: