In [2]:
from ipfn import ipfn
import numpy as np
import pandas as pd

In [3]:
m      = np.array([1., 2., 1., 3., 5., 5., 6., 2., 2., 1., 7., 2.,
               5., 4., 2., 5., 5., 5., 3., 8., 7., 2., 7., 6.], )
dma_l  = [501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501,
          502, 502, 502, 502, 502, 502, 502, 502, 502, 502, 502, 502]
size_l = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4,
          1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]
age_l  = ['20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45']

In [4]:
df = pd.DataFrame()
df['dma'] = dma_l
df['size'] = size_l
df['age'] = age_l
df['total'] = m

In [5]:
df.head()

   dma  size    age  total
0  501     1  20-25    1.0
1  501     1  30-35    2.0
2  501     1  40-45    1.0
3  501     2  20-25    3.0
4  501     2  30-35    5.0

In [6]:
xipp = df.groupby('dma')['total'].sum()
xpjp = df.groupby('size')['total'].sum()
xppk = df.groupby('age')['total'].sum()
xijp = df.groupby(['dma', 'size'])['total'].sum()
xpjk = df.groupby(['size', 'age'])['total'].sum()
# xppk = df.groupby('age')['total'].sum()

In [7]:
xipp

dma
501    37.0
502    59.0
Name: total, dtype: float64

In [8]:
xpjp

size
1    15.0
2    28.0
3    28.0
4    25.0
Name: total, dtype: float64

In [10]:
xipp.loc[501] = 52
xipp.loc[502] = 48

xpjp.loc[1] = 20
xpjp.loc[2] = 30
xpjp.loc[3] = 35
xpjp.loc[4] = 15

xppk.loc['20-25'] = 35
xppk.loc['30-35'] = 40
xppk.loc['40-45'] = 25

xijp.loc[501] = [9, 17, 19, 7]
xijp.loc[502] = [11, 13, 16, 8]

xpjk.loc[1] = [7, 9, 4]
xpjk.loc[2] = [8, 12, 10]
xpjk.loc[3] = [15, 12, 8]
xpjk.loc[4] = [5, 7, 3]

In [11]:
aggregates = [xipp, xpjp, xppk, xijp, xpjk]
dimensions = [['dma'], ['size'], ['age'], ['dma', 'size'], ['size', 'age']]

In [12]:
IPF = ipfn.ipfn(df, aggregates, dimensions)
df2 = IPF.iteration()

In [13]:
df.head()

   size    age  dma     total
0     1  20-25  501  2.155122
1     1  20-25  502  4.844878
2     1  30-35  501  4.738761
3     1  30-35  502  4.261239
4     1  40-45  501  2.106116

In [14]:
df2.head()

   size    age  dma     total
0     1  20-25  501  2.155122
1     1  20-25  502  4.844878
2     1  30-35  501  4.738761
3     1  30-35  502  4.261239
4     1  40-45  501  2.106116

In [15]:
df.groupby('dma')['total'].sum()

dma
501    51.99993
502    48.00007
Name: total, dtype: float64