In [1]:
import os
os.chdir('../..')

In [2]:
import chevron
import sys
import os
import copy
import logging
import tensorflow as tf
import torch
import matplotlib.pyplot as plt

from distutils.dir_util import copy_tree

import pandas as pd
import networkx as nx
import numpy as np

import time

# For the Python notebook
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [3]:
dataset = 'adult'

In [4]:
if dataset is 'Chicago':
    continuous_columns = ["distance", "age", "departure_time"]
elif dataset is 'LPMC':
    continuous_columns = ['start_time_linear', 'age', 'distance', 'dur_walking', 'dur_cycling', 'dur_pt_access',
                          'dur_pt_rail', 'dur_pt_bus', 'dur_pt_int', 'dur_driving', 'cost_transit',
                          'cost_driving_fuel', 'driving_traffic_percent']
elif dataset is 'adult':
    continuous_columns = ['age', 'capital-gain', 'capital-loss', 'hours-per-week']

In [5]:
df = pd.read_csv('../data/' + dataset + '/data.csv')

In [7]:
list(set(df.columns)-set(continuous_columns))

['race',
 'workclass',
 'income',
 'marital-status',
 'relationship',
 'gender',
 'education',
 'native-country',
 'occupation',
 'educational-num']

In [57]:
len(df.columns)

27

In [58]:
len(df)

8808

In [53]:
len(continuous_columns)

4

In [35]:
df.columns

Index(['age', 'workclass', 'education', 'educational-num', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income'],
      dtype='object')

In [36]:
for c in df.columns:
    
    if c in continuous_columns:
        print(c, np.min(df[c]), np.max(df[c]), len(df[c].unique()))
        
    else:
        print(c, np.min(df[c]), np.max(df[c]), len(df[c].unique()))

age 17 90 74
workclass Federal-gov Without-pay 7
education 10th Some-college 16
educational-num 1 16 16
marital-status Divorced Widowed 7
occupation Adm-clerical Transport-moving 14
relationship Husband Wife 6
race Amer-Indian-Eskimo White 5
gender Female Male 2
capital-gain 0 99999 121
capital-loss 0 4356 97
hours-per-week 1 99 96
native-country Cambodia Yugoslavia 41
income <=50K >50K 2